<!DOCTYPE html>
<html>
  
  <head>
    <title>Proximity</title>
    <meta name="description" content="A proximity based chat">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="https://cdn.hyperdev.com/us-east-1%3A7437264b-62c7-4da4-bf79-ee13bbda998d%2Ffoundation.min.css">
    <link rel="stylesheet" href="/style.css">
    
    <!-- Add to home screen for Chrome Mobile -->
    <link rel="manifest" href="/manifest.json">
    <!-- Add to home screen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Proximity Chat">
    <link rel="apple-touch-icon" href="https://cdn.hyperdev.com/b3db0fb8-a317-4384-bb5a-8f7f3d7e608c%2Ficon152.png">
      <!-- Add to home screen for Windows -->
    <meta name="msapplication-TileImage" content="https://cdn.hyperdev.com/b3db0fb8-a317-4384-bb5a-8f7f3d7e608c%2Ficon144.png">
    <meta name="msapplication-TileColor" content="#2F3BA2">
  </head>
  
  <body>
    <div id="app"></div>
    
    <script src="https://fb.me/react-15.1.0.js"></script>
    <script src="https://fb.me/react-dom-15.1.0.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="https://cdn.hyperdev.com/us-east-1%3A7437264b-62c7-4da4-bf79-ee13bbda998d%2Ffoundation.min.js"></script>
    <script type="text/babel" src="/client.js"></script>
  </body>
  
</html>
